  <div class="control-group">
    <%= f.label "To", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <% if message.cc %>
    <div class="control-group">
      <%= f.label :cc, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :cc, :class => 'text_field' %>
      </div>
    </div>
  <% end %>

  <% if message.bcc %>
    <div class="control-group">
      <%= f.label :bcc, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :bcc, :class => 'text_field' %>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :subject, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, :class => 'text_area' %>
    </div>
  </div>
  <% if not message.attachment_file_name.nil? %>
    <div class="control-group">
      <%= f.label "Attachments", :class => 'control-label' %>
      <div class='controls'>
        <%= f.file_field :attachment %>
      </div>
    </div>
    <%= "Current Attachment: #{message.attachment.url}" %>
  <% end %>
  <div class="control-group">
      <%= f.label "Send Date", :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :send_date %>
      </div>
  </div>


 