<!DOCTYPE html>
<html>
<head>
  <title>Sendmail</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed">
	  <div class="navbar-inner">
	    <div class="container">
	 
	      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	 
	      <!-- Be sure to leave the brand out there if you want it shown -->
	 	  <%= link_to "Emailer", messages_path, class: "brand" %>
	      <!-- Everything you want hidden at 940px or less, place within here -->
	      <div class="nav-collapse collapse">
	        <!-- .nav, .navbar-search, .navbar-form, etc -->
	        <ul class="nav">
		        <li><%= link_to "Outbox", messages_path, class: "active" %></li>
		        <li><%= link_to "Inbox", '#' %></li>
		        <li><%= link_to "Archive", '#' %></li>
		        <li><%= link_to "Reminder", '#' %></li>
		    </ul>
	      </div>
	 
	    </div>
	  </div>
	</div>
	<%= render 'layouts/flash_messages' %>
	<%= yield %>

</body>
</html>
